
form{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
}
.inputValidation
{
  display: flex;
  justify-content: center;
  
}
.App{
  background-color: antiquewhite;
}

.zodvalidation{
  background-color: aqua;
}